<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{bootstrapHeader/head :: head}"></head>
<title>Alterar Peças</title>

<body>
	<header>
		<nav th:replace="~{menu :: menu}"></nav>
	</header>
	<main>
		<section>
			<div class="row container-fluid">
				<div class="col-12 p-3 h1 text-center">Alterar Peças</div>
			</div>
		</section>
		<section>
			<div class="container">
				<div class="row">
					<div class="col-12 col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3">
						<form action="#" th:action="@{/alterarItem}" method="post" th:object="${item}">
							<div class="mb-2">
								<label class="h6 form-label fw-bold" style="color: #353935;">Código</label>
								<div class="input-group">
									<div class="input-group-text"><i class="bi bi-upc"></i></div>
									<input type="text" th:field="*{code}" class="form-control " id="code" required>
									<div class="ms-1">
										<button type="submit" class="btn btn-primary fw-bold">Buscar</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
		</section>
		<section>
			<div class="container">
				<div class="row">
					<div class="col-12 col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3">
						<div th:if="${resultNotFound} != null" class="alert alert-warning " role="alert">
							<div class="text-center">
								<p>Produto não encontrado...</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="container">
				<div class="row">
					<div class="col-12 col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3">
						<div th:if="${resultUpdated} != null" class="alert alert-success " role="alert">
							<div class="text-center">
								<p>Produto alterado com sucesso...</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section>
			<div class="container" th:if="${code} != null">
				<div class="row">
					<div class="col-12 col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3">
						<div class="mb-2">
							<div class="border rounded p-4">
								<p class="h5 text-center mb-3">Deseja alterar a peça [[${name}]] ?</p>
								<div class="row">
									<div class="col-12 col-sm-12 col-md-6 col-lg-6 mb-1">
										<a th:href="@{/updateItem/{id}(id=${code})} " type="submit"
											class="btn btn-primary w-100">Sim</a>
									</div>
									<div class="col-md-6 col-lg-6">
										<a th:href="@{/alterar}" class="btn btn-primary w-100">Não</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		</section>
	</main>
</body>

</html>