<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{bootstrapHeader/head :: head}"></head>

<title>Alteraração de Peças</title>

<body>

	<body>
		<header>
			<nav th:replace="~{menu :: menu}"></nav>
		</header>
		<main>
			<section>
				<div class="container">
					<div class="row">
						<div class="col-12 col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3">
							<div th:if="${message}" th:text="${message}" class="text-center alert alert-success"
								role="alert" />
							<form action="#" th:action="@{/alterarCarrinho}" method="POST" th:object="${product}">

								<div class="row container-fluid">
									<div class="col-12 p-3 h3 text-center">Deseja alterar a peça
										[[${product.name}]]</div>
								</div>

								<div class="form-group  mt-2">
									<label for="qnt" class=" h6 form-label fw-bold"
										style="color: #353935;">Quantidade</label>
									<input type="number" th:field="*{qnt}" class="form-control" id="qnt" required>

								</div>
								<div class="form-group  mt-2">
									<label for="price" class=" h6 form-label fw-bold"
										style="color: #353935;">Preço</label>
									<div class="input-group">
										<div class="input-group-text"><i class="bi bi-currency-dollar"></i></div>
										<input type="number" th:field="*{price}" class="form-control" id="price">
									</div>
								</div>

								<div class="col-12 col-sm-4 col-md-4 col-lg-4 mt-2">
									<button type="submit" class="btn btn-primary fw-bold w-100">Alterar</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</section>
		</main>

	</body>
</body>

</html>