<div class="container" th:fragment="filtro">
	<div class="row">
		<div
			class="col-12 col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3">
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th scope="col">Código</th>
							<th scope="col">Nome</th>
							<th scope="col">Descrição</th>
							<th scope="col">Quantidade</th>
							<th scope="col">Preço</th>
							<th scope="col">Fornecedor</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="products : ${product}">
							<td th:text="*{products.code}" />
							<td th:text="*{products.name}" />
							<td th:text="*{products.desc}" />
							<td th:text="*{products.qnt}" />
							<td th:text="*{products.price}" />
							<td th:text="*{products.suplly}" />
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>