<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{bootstrapHeader/head :: head}"></head>
<title>Estoque Atual</title>

<body>
	<header>
		<nav th:replace="~{menu :: menu}"></nav>
	</header>
	<main>
		<section>
			<div class="row container-fluid">
				<div class="col-12 p-3 h1 text-center">Estoque Total</div>
			</div>
		</section>
		<section>
			<div class="container">
				<div class="row">
					<div class="col-12 col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3">
						<div class="table-responsive">
							<table class="table table-bordered">
								<thead>
									<tr class="">
										<th scope="col">Código</th>
										<th scope="col">Nome</th>
										<th scope="col">Descrição</th>
										<th scope="col">Quantidade</th>
										<th scope="col">Preço</th>
										<th scope="col">Fornecedor</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="items : *{item}" class="text-center">
										<td th:text="*{items.code}" />
										<td th:text="*{items.name}" />
										<td th:text="*{items.desc}" />
										<td th:text="*{items.qnt}" />
										<td th:text="*{items.price}" />
										<td th:text="*{items.suplly}" />
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	
</body>

</html>