<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{bootstrapHeader/head :: head}"></head>
<title>Venda de Peças</title>

<body>
	<header>
		<nav th:replace="~{menu :: menu}"></nav>
	</header>
	<main>
		<section>
			<div class="container">
				<div class="row">
					<div
						class="col-10 offset-1 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3 p-3 border rounded mt-4">
						<p class="h5 text-center mb-3">Deseja vincular a venda a um cliente?</p>
						<form action="#" th:action="@{/comecoVendaPost}" method="post" th:object="${item}">
							<div class="mb-2">
								<label for="code" class="h6 form-label fw-bold" style="color: #353935;">Phone</label>
								<div class="input-group">
									<div class="input-group-text"><i class="bi bi-phone"></i></div>
									<input type="number" th:field="*{code}" class="form-control">
								</div>
							</div>
							<div class="row">
								<div class="col-12 col-sm-12 col-md-6 col-lg-6 mb-1">
									<button type="submit" name="userAction" th:value="false"
										class="btn btn-primary fw-bold w-100">Sim</button>
								</div>
								<div class="col-md-6 col-lg-6">
									<a th:href="@{/venda}" class="btn btn-primary fw-bold w-100">Não</a>
								</div>
							</div>
						</form>

					</div>
				</div>
			</div>
		</section>
	</main>

</body>

</html>