<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{bootstrapHeader/head :: head}"></head>

<title>Cadastro de Clientes</title>

<body>
	<header>
		<nav th:replace="~{menu :: menu}"></nav>
	</header>
	<main>
		<section>
			<div class="row container-fluid">
				<div class="col-12 p-3 h1 text-center">Cadastro de Cliente</div>
			</div>
		</section>
		<section>
			<div class="container">
				<div class="row">
					<div class="col-12 col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3">
						<div th:if="${err} != null" class="alert alert-danger" role="alert">
							<div class="text-center">
								<p>Cep não encontrado...</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="container">
				<div class="row">
					<div class="col-12 col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3">
						<div th:if="${message}" th:text="${message}" class="text-center alert alert-success"
							role="alert" />
						<form action="#" th:action="@{/registerPessoa}" method="post" th:object="${pessoa}">

							<label for="code" class=" h6 form-label fw-bold" style="color: #353935;">Phone</label>
							<div class="input-group">
								<div class="input-group-text"><i class="bi bi-phone"></i></div>
								<input type="number" th:field="*{phone}" class="form-control" id="code" required>
							</div>

							<div class="mt-2">
								<label for="code" class=" h6 form-label fw-bold" style="color: #353935;">Nome</label>
								<div class="input-group">
									<div class="input-group-text"><i class="bi bi-person-fill"></i></div>
									<input type="text" th:field="*{name}" class="form-control " id="name" required>
								</div>
							</div>
							<div class="row">
								<div>
									<div class="mt-2">
										<label class="h6 form-label fw-bold"style="color: #353935;">CEP</label>
										<div class="input-group">
											<div class="input-group-text"><i class="bi bi-house-fill"></i></i></div>
											<input type="number" th:field="*{zipCode}" class="form-control"
												id="zipCode">
											<div class="ms-1">
												<button type="submit" id="buscarBtn" name="userAction" th:value="false"
													class="btn btn-primary fw-bold">Buscar</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-9">
									<div class="mt-2">
										<label class="h6 form-label fw-bold"style="color: #353935;">Rua</label>
										<div class="input-group">
											<div class="input-group-text"><i class="bi bi-signpost-2-fill"></i></i>
											</div>
											<input type="text" th:field="*{street}" class="form-control">
										</div>
									</div>
								</div>
								<div class="col-3">
									<div class="mt-2">
										<label class="h6 form-label fw-bold"style="color: #353935;">Nº</label>
										<input type="text" th:field="*{number}" class="form-control ">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-9">
									<div class="mt-2">
										<label class="h6 form-label fw-bold"style="color: #353935;">Cidade</label>
										<div class="input-group">
											<div class="input-group-text"><i class="bi bi-building"></i></i></div>
											<input type="text" step="any" th:field="*{city}" class="form-control "
												id="city">
										</div>
									</div>
								</div>
								<div class="col-3">
									<div class="mt-2">
										<label class="h6 form-label fw-bold"style="color: #353935;">Estado</label>
										<input type="text" th:field="*{state}" class="form-control">
									</div>
								</div>
							</div>
							<div class="mt-2">
								<label class="h6 form-label fw-bold"style="color: #353935;">Complemento</label>
								<div class="input-group">
									<div class="input-group-text"><i class="bi bi-geo-alt-fill"></i></div>
									<input type="text" th:field="*{complement}" class="form-control" id="complement">
								</div>
							</div>
							<div class="col-12 col-sm-4 col-md-4 col-lg-4 mt-2">
								<button id="cadastroBtn" type="submit" name="userAction" th:value="true"
									class="btn btn-primary w-100 fw-bold">Cadastrar</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
	</main>

</body>

</html>