<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{bootstrapHeader/head :: head}"></head>
<title>Estoque Atual</title>

<body>

	<style>
		@media print {

			header,
			#btn,
			#actions {
				display: none;
			}

			#total {
				display: block;
			}
		}
	</style>

	<header>
		<nav th:replace="~{menu :: menu}"></nav>
	</header>

	<section>
		<div class="row container-fluid">
			<div class="col-12 p-3 h1 text-center">Carrinho</div>
		</div>
	</section>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-12 col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3">
					<div th:if="${updatedOk} != null" class="alert alert-success" role="alert">
						<div class="text-center">
							<p>O produto foi alterado com sucesso...</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-12 col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3">
					<div th:if="${qntyhight} != null" class="alert alert-danger" role="alert">
						<div class="text-center">
							<p>Quantidade maior do que tem no estoque...</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div th:if="${pessoaData} != null">
		<section th:replace="~{bootstrapHeader/pessoaDataTable :: dataPessoa}"></section>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3">
				<div class="table-responsive">

					<table class="table table-bordered">
						<thead>
							<tr class="">
								<th scope="col">Código</th>
								<th scope="col">Nome</th>
								<th scope="col">Descrição</th>
								<th scope="col">Quantidade</th>
								<th scope="col">Preço</th>
								<th scope="col">Fornecedor</th>
								<th scope="col">Açoes</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="products : ${productVenda}">
								<td th:text="*{products.code}" />
								<td th:text="*{products.name}" />
								<td th:text="*{products.desc}" />
								<td th:text="*{products.qnt}" />
								<td th:text="*{products.price}" />
								<td th:text="*{products.suplly}" />
								<td class="d-flex">
									<a type="submit" class="border rounded"
										th:href="@{/carrinhoId/{id}(id=${products.code})}"
										style=" padding: 0 6px 3px 6px; margin-right: 5px;"><i
											class="fw-bold bi bi-trash text-danger"></i></a>
									<a type="submit" class="border rounded" style="padding: 0 6px 3px 6px;"
										th:href="@{/alterarCarrinho/{id}(id=${products.code})}"><i
											class="bi bi-pencil text-warning fw-bold"></i></button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div th:if="${itemQnt} != null" id="fecharVenda">
		<section th:replace="~{fecharVenda :: fecharVenda}"></section>
	</div>

</body>

<script type="text/javascript">
	function printPage() {
		window.print();
	}
</script>

</html>