<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{bootstrapHeader/head :: head}"></head>

<title>Alteraração de Peças</title>

<body>
	<header>
		<nav th:replace="~{menu :: menu}"></nav>
	</header>
	<main>
		<section>
			<div class="row container-fluid">
				<div class="col-12 p-3 h1 text-center">Alterar Peças</div>
			</div>
		</section>
		<section>
			<div class="container">
				<div class="row">
					<div class="col-12 col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3">
						<div th:if="${message}" th:text="${message}" class="text-center alert alert-success"
							role="alert" />
						<form action="#" th:action="@{/updateItem}" method="post" th:object="${item}">
							<div class="form-group">
								<label for="code" class=" h6 form-label fw-bold" style="color: #353935;">Código</label>
								<div class="input-group">
									<div class="input-group-text"><i class="bi bi-upc"></i></div>
									<input type="text" th:field="*{code}" class="form-control" id="code" required>
								</div>
							</div>
							<div class="form-group mt-2">
								<label for="name" class=" h6 form-label fw-bold" style="color: #353935;">Nome</label>
								<div class="input-group">
									<div class="input-group-text"><i class="bi bi-wrench"></i></div>
									<input type="text" th:field="*{name}" class="form-control" id="name">
								</div>
							</div>
							<div class="form-group  mt-3">
								<label for="desc" class=" h6 form-label fw-bold"
									style="color: #353935;">Descrição</label>
								<div class="input-group">
									<div class="input-group-text"><i class="bi bi-pencil-fill"></i></div>
									<textarea th:field="*{desc}" class="form-control"></textarea>
								</div>
							</div>
							
							<div class="form-group  mt-2">
								<label for="price" class=" h6 form-label fw-bold" style="color: #353935;">Preço</label>
								<div class="input-group">
									<div class="input-group-text"><i class="bi bi-currency-dollar"></i></div>
									<input type="number" th:field="*{price}" class="form-control" id="price">
								</div>
							</div>
							<div class="form-group  mt-2">
								<label for="forn" class=" h6 form-label fw-bold"
									style="color:#353935;">Forncedor</label>
								<div class="input-group">
									<div class="input-group-text"><i class="bi bi-truck"></i></div>
									<input type="text" th:field="*{suplly}" class="form-control" id="forn">
								</div>
							</div>
							<div class="col-12 col-sm-4 col-md-4 col-lg-4 mt-2">
								<button type="submit" class="btn btn-primary fw-bold w-100">Alterar</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
	</main>

</body>

</html>