<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{bootstrapHeader/head :: head}"></head>
<title>Venda de Peças</title>

<body>
	<header>
		<nav th:replace="~{menu :: menu}"></nav>
	</header>
	<main>
		<section>
			<div class="row container-fluid">
				<div class="col-12 p-3 h1 text-center">Venda</div>
			</div>
		</section>
		<section>
			<div class="container">
				<div class="row">
					<div class="col-12 col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3">
						<form action="#" th:action="@{/vendaItem}" method="post" th:object="${item}">
							<div class="mb-2">
								<label class="h6 form-label fw-bold" style="color: #353935;">Código</label>
								<div class="input-group">
									<div class="input-group-text"><i class="bi bi-upc"></i></div>
									<input type="text" th:field="*{code}" class="form-control " id="code" required>
									<div class="ms-1">
										<button type="submit" class="btn btn-primary fw-bold">Buscar</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
		</section>
		<section>
			<div class="container">
				<div class="row">
					<div class="col-12 col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3">
						<div th:if="${qntyZero} != null" class="alert alert-warning" role="alert">
							<div class="text-center">
								<p>Quantidade 0 no estoque...</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="container">
				<div class="row">
					<div class="col-12 col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3">
						<div th:if="${qntyhight} != null" class="alert alert-danger" role="alert">
							<div class="text-center">
								<p>Quantidade maior do que tem no estoque...</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div th:if="${product} != null" id="filtro">
				<div th:replace="~{filtroItem :: filtro}"></div>
			</div>
		</section>
		<section>
			<div class="container">
				<div class="row">
					<div class="col-12 col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3">
						<div th:if="${itemNotFound} != null" class="alert alert-danger " role="alert">
							<div class="text-center">
								<p>Produto não encontrado...</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="container">
				<div class="row">
					<div class="col-12 col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3">
						<div th:if="${qntyZero} == null">
							<form action="#" th:action="@{/vendaItem}" method="post" th:object="${item}"
								th:if="${product} != null or ${productVenda} != null">
								<label class="h6 form-label fw-bold" style="color: #353935;">Quantidade</label>
								<div class="input-group">
									<div class="input-group-text"><i class="bi bi-upc"></i></div>
									<input type="number" th:field="*{qnt}" class="form-control" id="code" required>
									<div class="ms-1">
										<button type="submit" class="btn btn-primary fw-bold">Add</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
		</section>
	</main>
</body>

</html>